@tailwind base;
@tailwind components;
@tailwind utilities;

/* Might use this for light/dark mode
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
*/

/* For Dark Mode
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */


/* body {
  color: #27374e;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

body { overflow: -moz-scrollbars-none; }

body { -ms-overflow-style: none; }

/*----------------*/

@font-face {
  font-family: "lnFont";
  src: url(./fonts/ITCAvantGardeStd-Md.otf) format("opentype");;
}

@font-face {
  font-family: 'Metropolis Light';
  src: url(./fonts/metropolis.light.otf) format('opentype');
}

@font-face {
  font-family: 'Metropolis Regular';
  src: url(./fonts/metropolis.regular.otf) format('opentype');
}

@font-face {
  font-family: 'Metropolis Semi-Bold';
  src: url(./fonts/metropolis.semi-bold.otf) format('opentype');
}

.lnFont { /* titles/heading */
  font-family: "lnFont";
} 

.metropolisL {
  font-family: "Metropolis Light";
}

.metropolisR { /*descriptions*/
  font-family: "Metropolis Regular";
}

.metropolisSB {
  font-family: "Metropolis Semi-Bold";
}
html { /* Smooth scrolling */
  scroll-behavior: smooth;
}

/*---------------- ABOUT ----------------*/
/* ---------- Laptop 1920 x 1080 (default) ---------- */
/* @media screen and (min-width: 1536px max-width: 1919px) {} */

#container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 3rem;
  max-width: 100%;
}
#bio-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  padding: 1rem 2rem;
  margin: 3rem 1rem 3rem 4rem;
  max-width: 60%;
  /* border: 2px solid black; */
}
#bio {
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1.7;
  text-align: left;
  letter-spacing: -0.1px;
  word-spacing: 1.5px;
}
#img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 1rem;
  max-width: 30%; /* Adjust as needed */
}
#img-container img {
  max-width: 80%;
  height: auto;
}
#resume {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 1rem 2.5rem 1rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
}
#hobby-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2.5rem;
  padding: 1rem;
}

/*---------------- PROJECTS ----------------*/
#proj-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* got rid of right margin */
  padding: 0 0 1rem 2rem; /* got rid of right padding */
  margin: 3rem auto;
  max-width: 80%;
  /* border: 2px solid black; */
}
#proj {
  margin: 1rem 0; /* gap between projects */
  font-size: 1rem;
  line-height: 1.7;
  text-align: left;
  letter-spacing: -0.1px;
  word-spacing: 1.5px;
}
#proj-img {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin: 6px 0 6px 6px;
  justify-content: space-between;
}

/*---------------- CONTACT ----------------*/
.gitlink {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 3px;
  padding: 3px;
  text-wrap: nowrap;
}
#wave-container {
  background-image: url(/images/wave-contact.svg);
  background-size: cover;
  height: auto;
  width: 100%;
}
#contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* to center the contact section */
  max-width: 70%;
  overflow: auto;
}
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 12rem;
  padding: 1rem;
  /* border: 2px solid black; */
}


/*---------------- RESPONSIVENESS ----------------*/
/* ADD 1456px width to accomodate this responsiveness */
@media screen and (min-width: 1720px) {


/*---------------- CONTACT ----------------*/
#wave-container {
  background-image: url(/images/wave-contact.svg);
  background-size: cover;
  height: 600px;
  width: 100%;
}


}

/*---------------- Mobile responsiveness ----------------*/
/* ---------- Not sure if this will fit most mobile ---------- */
@media screen and (min-width: 340px) and (max-width: 490px) {

/*---------------- ABOUT ----------------*/
  #container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: fit-content;
  }
  #bio-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.8rem;
      margin: 0.8rem 0.8rem 1.5rem 0.8rem;
      max-width: 100%;
  }
  #bio-container h1 { /* About Me */
      font-size: 1rem;
  }
  #bio-container h2 { /* What made me pursue? Other Interests */
      font-size: 0.9rem;
      margin-bottom: 8px;
  }
  #bio {
      font-size: 0.5rem;
      margin: 2px 0;
      font-size: 1rem;
      line-height: 1.5;
      text-align: left;
  }
  #img-container, #hobby-icon {
    display: none;
  }

/*---------------- PROJECTS ----------------*/
  #proj-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 0 1rem 0;
      margin: 0.8rem 0.8rem 1rem 0.8rem;
      max-width: 100%;
  }
  #proj-container h1 { /* Projects and Other Works */
      font-size: 1rem;
      margin: 12px 0;
  }
  #proj {
      margin: 1rem 0;
      max-height: 350px;
  }
  #proj-img {
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      justify-content: center;
      transform: translateX(-10px);
  }
  #proj-img h2 { /* Project Title */
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 10px;
      width: 100%;
  }
  #proj-img a {
      justify-content: center;
      align-items: center;
      margin: 1rem 0 1rem 2rem;
      text-wrap: nowrap;
  }
  #proj-img img:not(#mobile-hide) { /* center the img */
    margin: 0 auto; 
  }
  #mobile-hide { /* this hides the thumbnail photo */
    display: none;
  }

/*---------------- CONTACT ----------------*/
  #wave-container { /* background wave at the very bottom */
    background-image: url(/images/wave-contact.svg);
    background-size: cover;
    height: auto;
    width: fit-content;
  }
  #contact-container { /* Contact Me container */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 85%;
  }
  #contact { /* Contact Me */
    margin-top: -2rem;
    margin-bottom: 8rem;
    padding: 1rem;
  }
  #contact h1 { /* Contact Me */
    font-size: 1rem;
    margin: 12px 0;
  }
  #contact p {
    font-size: 1rem;
    margin-bottom: 8px;
  }
  #contact a {
    transform: translateY(-25px);
  }
  #mail-icon { /* mail icon in contact */
    display: none;
  }

}






/*---------------- TO DO ----------------*/
/*
- fixed contact bg wave
- add more content to projects
- 
- add birds to the side of the project section
- 
*/











/* ---------- For whatever reso ---------- */
/* @media screen and (mind-width: 964px) and (max-width: 1312px) {




} */




