@tailwind base;
@tailwind components;
@tailwind utilities;

/* Might use this for light/dark mode
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
*/

/* For Dark Mode
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */


/* body {
  color: #27374e;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

body { overflow: -moz-scrollbars-none; }

body { -ms-overflow-style: none; }

/*----------------*/

@font-face {
  font-family: "lnFont";
  src: url(./fonts/ITCAvantGardeStd-Md.otf) format("opentype");;
}

@font-face {
  font-family: 'Metropolis Light';
  src: url(./fonts/metropolis.light.otf) format('opentype');
}

@font-face {
  font-family: 'Metropolis Regular';
  src: url(./fonts/metropolis.regular.otf) format('opentype');
}

@font-face {
  font-family: 'Metropolis Semi-Bold';
  src: url(./fonts/metropolis.semi-bold.otf) format('opentype');
}

.lnFont {
  font-family: "lnFont";
} 

.metropolisL {
  font-family: "Metropolis Light";
}

.metropolisR {
  font-family: "Metropolis Regular";
}

.metropolisSB {
  font-family: "Metropolis Semi-Bold";
}

