@tailwind base;
@tailwind components;
@tailwind utilities;

/* Might use this for light/dark mode
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
*/

/* For Dark Mode
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  overflow-y: hidden;
  overflow-x: hidden;
  max-width: 100vh;
}

/* body {
  color: #27374e;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


