@tailwind base;
@tailwind components;
@tailwind utilities;


/* BG set 1 */

#wave-5 {
    background-image: url(/images/wave-5.svg);
}

#wave-4 {
    background-image: url(/images/wave-4.svg);
}

#wave-3 {
    background-image: url(/images/wave-3.svg);
}

#wave-2 {
    background-image: url(/images/wave-2.svg);
}

#wave-1 {
    background-image: url(/images/wave-1.svg);
}
#wave-0 {
    background-image: url(/images/wave-0.svg);
}

/* BG set 2 */

#wave-55 {
    background-image: url(/images/wave-55.svg);
}

#wave-44 {
    background-image: url(/images/wave-44.svg);
}

#wave-33 {
    background-image: url(/images/wave-33.svg);
}

#wave-22 {
    background-image: url(/images/wave-22.svg);
}

#wave-11 {
    background-image: url(/images/wave-11.svg);
}
#wave-00 {
    background-image: url(/images/wave-00.svg);
}
#wave-0 {
    background-image: url(/images/wave-0.svg);
}


/* Parallax container and Layers */

.plxcontainer {             /* this is Parallax */

    height: 100%;
    display: block;
    position: relative;
    z-index: 10;
}

.plxlayer {             /* this is ParallaxLayer */
    
    background-position: bottom-center;
    background-size: cover; /* instead of auto 1038px */
    background-repeat: no-repeat; /* ofc no repeat */
    width: 100%;
    height: 100%;
    position: absolute;
}

.plxcontainer, .plxlayer {
    /* height: 1000px; */
    height: 100%;
}

.plxlayer.parallax {
    position: fixed;
}

.welcome {
    z-index:20;
}

.footer {
    z-index: 50;
}


/* Page 2 of the parallax */

#page-block {          /* from cssgradient.io */
                        /* change height to 100vh */
    /* border-color: aqua;
    border-width: 4px; */
    height: 200vh;
    background-color: #27374D;
    /* background: linear-gradient(180deg, rgba(0,60,67,1) 11%, rgba(39,82,86,1) 30%, rgba(115,152,151,1) 63%, rgba(227,254,247,1) 100%); */

}

#page-container {
    /* border-color: rgb(99, 131, 131);
    border-width: 4px; */
    height: 100%;
    width: 75%;     /* for the grid */
    margin: 0 auto;
    padding-top: 70px;
}

/* contents inside */
.rbox {
    float: right;
    border-color: aqua;
    border-width: 4px;
    min-width: 20%;
    min-height: 90px;
    width: 75%;
    height: auto;
    /* padding-right: 20px; */
    margin-right: 0; /* content centering */
}

.lbox {
    float: left;
    border-color: aqua;
    border-width: 4px;
    min-width: 20%;
    min-height: 90px;
    width: 75%;
    height: auto;
    /* padding-left: 20px; */
    margin-left: 0; /* content centering */
}

.grid {
    display: grid;
    border-width: 3px;
    border-color: red;
    min-width: 100%; /* width 75% or w-9/12 */
    column-gap: 2rem;
}


/* --------------- screen size adjustments --------------- */
@media (max-width: 576px) {
    
    .plxcontainer, .plxlayer {
        /* Adjust styles for smartphones */
        background-size: contain;
        margin-top: 388px;
        height: 100vh;
    }
    .text-6xl { /* Hello! */
        margin-left: -110px;
        margin-top: 85px;
        font-size: 1.1rem;
        z-index: 50;
    }
    .text-4xl {
        font-size: 0.75rem;
        z-index: 50;}

    .page-container, .page-block {
        height: 100vh;
        width: 100%;
    }
    .grid {
        margin-top: -40px;
        row-gap: 5rem; /* Adjust the row gap for larger viewports using a fixed value */
    }

    .rbox, .lbox {
        width: 100%;
    }
    
}

/* adjust box content if going to use
OTHERWISE
use <p> tags for text inside the boxes
*/




