@tailwind base;
@tailwind components;
@tailwind utilities;


/* BG set 1 */

#wave-5 {
    background-image: url(/images/wave-5.svg);
}

#wave-4 {
    background-image: url(/images/wave-4.svg);
}

#wave-3 {
    background-image: url(/images/wave-3.svg);
}

#wave-2 {
    background-image: url(/images/wave-2.svg);
}

#wave-1 {
    background-image: url(/images/wave-1.svg);
}
#wave-0 {
    background-image: url(/images/wave-0.svg);
}

/* BG set 2 */

#wave-55 {
    background-image: url(/images/wave-55.svg);
}

#wave-44 {
    background-image: url(/images/wave-44.svg);
}

#wave-33 {
    background-image: url(/images/wave-33.svg);
}

#wave-22 {
    background-image: url(/images/wave-22.svg);
}

#wave-11 {
    background-image: url(/images/wave-11.svg);
}
#wave-00 {
    background-image: url(/images/wave-00.svg);
}
#wave-0 {
    background-image: url(/images/wave-0.svg);
}

#wave-000 {
    background-image: url(/images/wave-000.svg);
}


/* ---------- Icons ---------- */
#css-icon {
    background-image: url(/icons/css-icon.svg);
}
#database-icon {
    background-image: url(/icons/database-icon.svg);
    width: 10%;
    height: 10%;
}
#html5-icon {
    background-image: url(/icons/html5-icon.svg);
}
#javascript-icon {
    background-image: url(/icons/javascript-icon.svg);
}
#mongodb-icon {
    background-image: url(/icons/mongodb-icon.svg);
}
#nodejs-icon {
    background-image: url(/icons/nodejs-icon.svg);
}
#npm-icon {
    background-image: url(/icons/npm-icon.svg);
}
#oracle-icon {
    background-image: url(/icons/oracle-icon.svg);
}
#python-icon {
    background-image: url(/icons/python-icon.svg);
}
#react-icon {
    background-image: url(/icons/react-icon.svg);
    transform: translateY(2.5px);
}
#tailwind-icon {
    background-image: url(/icons/tailwind-icon.svg);
    transform: translateY(10px);
}
#figma-icon {
    background-image: url(/icons/figma-icon.svg);
    width: 10%;
    height: 10%;
}
#ps-icon {
    background-image: url(/icons/ps-icon.svg);
    transform: translateY(-2px);
}
#vfs-logo2 {
    background-image: url(/icons/vfs-logo2.svg);
    width: 50%;
}
#sait-logo {
    background-image: url(/icons/sait-logo.png);
    width: 10%;
}

#rectangle { /* this is for the rectangle image ABOVE Projects*/
    background-image: url(/images/rectangle.svg);
}
#rectangle2 {
    background-image: url(/images/rectangle2.svg);
    width: 440px;
    height: 250px;
    border-radius: 0.5rem; /* rounded-lg or 8px */
    transform: translate(-2.5%, -2%); /* to move the rectangle and photo */
}
#rectangle3 {
    background-image: url(/images/rectangle2.svg);
    width: 440px;
    height: 250px;
    border-radius: 0.5rem; /* rounded-lg or 8px */
    transform: translate(2.5%, -2%); /* to move the rectangle and photo */
}
#rectangle4 {
    background-image: url(/images/rectangle2.svg);
    width: 440px;
    height: 250px;
    border-radius: 0.5rem; /* rounded-lg or 8px */
    transform: translate(-2.5%, -2%); /* to move the rectangle and photo */
}
#rectangle5 {
    background-image: url(/images/rectangle2.svg);
    width: 440px;
    height: 250px;
    border-radius: 0.5rem; /* rounded-lg or 8px */
    transform: translate(2.5%, -2%); /* to move the rectangle and photo */
}
#rectangle6 {
    background-image: url(/images/rectangle2.svg);
    width: 440px;
    height: 250px;
    border-radius: 0.5rem; /* rounded-lg or 8px */
    transform: translate(-2.5%, -2%); /* to move the rectangle and photo */
}
#rectangle7 {
    background-image: url(/images/rectangle2.svg);
    width: 440px;
    height: 250px;
    border-radius: 0.5rem; /* rounded-lg or 8px */
    transform: translate(2.5%, -2%); /* to move the rectangle and photo */
}

/* ---------- Project Images ---------- */
#mg1 {
    background-image: url(/images/mg-1.png);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
#mg2 {
    background-image: url(/images/mg-2.png);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
#mg3 {
    background-image: url(/images/BG-Full-Opacity.png);
    width: 440px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
#ln1 {
    background-image: url(/images/ln-1.png);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
#ln2 {
    background-image: url(/images/ln-2.png);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
#ln3 {
    background-image: url(/images/little-nightmares-2.jpg);
    width: 440px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
#py1 {
    background-image: url(/images/py1.png);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
#py2 {
    background-image: url(/images/py2.png);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
#py3 {
    background-image: url(/images/py3.png);
    width: 440px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

/* ---------- Laptop 1920 x 1080 (default) ---------- */
/* @media screen and (min-width: 1890px max-width: 1920px) {} */

#blowfish {
    background-image: url(/icons/blowfish.svg);
    width: 130px;
    height: 130px;
    display: block;
    top: 61%;
    left: 58.3%;
}

.icon-container {
    width: calc(10% + 6px);
    position: relative;
    /* width: 10%; */
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 12px 12px 0 12px;
}
.icon-container span {
    text-align: center;
    font-size: 14px;
    margin-top: 45px;
    visibility: hidden;
}

.top-icon {
    transform: translate(20px, 20px);
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.bottom-icon {
    transform: translate(10px, -15px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.middle-icon {
    transform: translateY(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.cust-icon {
    transform: translateY(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cust-icon2 {
    position: relative;
    transform: translate(15px, -15px);
    display: flex;
    justify-content: end;
    align-items: end;
    width: 75%;
    height: 75%;
    right: 19.5%;
}



/* ------------ Parallax container and Layers -------------*/

.plxcontainer {             /* this is Parallax */

    height: 100%;
    display: block;
    position: relative;
    z-index: 10;
}

.plxlayer {             /* this is ParallaxLayer */
    background-position: bottom-center;
    background-size: cover; /* instead of auto 1038px */
    background-repeat: no-repeat; /* ofc no repeat */
    width: 100%;
    height: 100%;
    position: absolute;
}

.plxcontainer, .plxlayer {
    /* height: 1000px; */
    height: 100%;
}
.plxlayer.parallax {
    position: fixed;
}
/* -------------------------------------------------------- */

#about-me {
    width: 30%;
    z-index:20;
    text-align: center;
    margin: 10px 50px, 10px, 50px;
    transform: translate(42%, -40px); /* transform Y, then X */
}
#desc-me {
    width: 30%;
    z-index:20;
    text-align: center;
    margin-bottom: 112px;
    transform: translateX(51%);
    text-align: left;
}

.footer {
    z-index: 50;
}


/* Page 2 of the parallax */

#page-block {          /* from cssgradient.io */
                       
    /* border-color: aqua;
    border-width: 4px; */
    background: rgb(39,55,77);
    background: linear-gradient(180deg, rgba(39,55,77,1) 6%, rgba(100,125,153,1) 29%, rgba(45,64,89,1) 42%, rgba(26,40,61,1) 55%);
}
#page-container {       /* height for the Titles/descriptions */
    /* border-color: rgb(99, 131, 131);
    border-width: 4px; */
    height: auto;
    /* width: 75%;     for the grid */
    margin: 0 auto;
    padding-top: 70px;
}
#page-container2 {      /* height for the Titles/descriptions */
    /* border-color: rgb(99, 131, 131);
    border-width: 4px; */
    height: auto;
    /* width: 75%;     for the grid */
    margin: 0 auto;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    row-gap: 6rem;
    /* border-width: 3px;
    border-color: red; */
    width: 70%; /* width 75% or w-9/12 */
    margin-top: 30px;
    /* height: 200vh; */
}

/* ---------- rbox, lbox Back Contents ---------- */
.rbox, .lbox {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-color: aqua;
    border-width: 4px; */   
    min-width: 30%;
    min-height: 83%;
    width: 90%;
    height: auto;
}
.rbox img, .lbox img{
    width: 100%;
    height: auto;
}
.rbox {
    float: right;
}
.lbox {
    float: left;
}


/* ---------- rbox2, lbox2 Heading Contents ---------- */
.rbox2, .lbox2 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-color: aqua;
    border-width: 4px; */
    min-width: 30%;
    min-height: 90px;
    width: 85%;
    height: auto;
}

.rbox2 img, .lbox2 img{
    width: 100%;
    height: auto;
}

.rbox2 {
    float: left;
}

.lbox2 {
    float: right;
}

/* ---------- box-content title ---------- */
#titleR .box-content {
    transform: translateX(-20%);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%); */

}
#titleL .box-content {
    transform: translateX(20%);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%); */

}
.box-content{
    min-width: 161%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* for mobile */
#mobile-desc4, #mobile-desc5, #mobile-desc6, #mobile-desc7, #mobile-desc8, #mobile-desc9 { /* show desktop description */
    display: block;
}
#mobile-desc44, #mobile-desc55, #mobile-desc66, #mobile-desc77, #mobile-desc88, #mobile-desc99 { /* hide mobile description */
    display: none;
}


/* --------------- screen size adjustments --------------- */
/* ---------- For 2560 x 1440 reso ---------- */
@media screen and (min-width: 2000px) and (min-height: 1000px ) {
    #wave-000 {
        transform: translateY(3%);
    }
    #blowfish {
        width: 204px;
        height: 204px;
        display: block;
        top: 61%;
        left: 58.3%;
    }
    #hello { /* Hello! */
        font-size: 4.5rem;
        margin-top: 10px;
    }
    #about-me { /*Edward Montilla */
        width: 30%;
        z-index:20;
        text-align: left;
        margin-top: 50px;
        margin-left: 70px;
    }
    .top-icon { /* full stack icon */
        transform: translate(-10%, -75%);
        justify-content: center;
    }
    .bottom-icon { /* full stack icon */
        transform: translate(6%, 75%);
        align-items: end;
        justify-content: center;   
    }
    .middle-icon { /* ui icon */
        transform: translateY(2px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cust-icon { /* sait icon */
        transform: translate(24px, -35px);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .cust-icon2 { /* vfs icon */
        position: relative;
        display: flex;
        justify-content: right;
        transform: translate(56.5px, 10px);
        right: 16.8%;
    }
    #page-container, #page-block { /* Adjust the page after wave height */
        margin-top: -10px;
        height: 400vh;
        width: 100%;
    }
    #page-container2, #page-block2 { /* height for the Titles/descriptions */
        margin-top: -200px;
        height: 350vh;
        width: 50% auto;
    }
    .rbox, .lbox, .rbox2, .lbox2 {
        flex-direction: column;
        width: 100%;
        float: none;
        min-width: 100%;
    }
    .box-content { /* Title Box */
        margin-top: -300px;
        min-width: 120%;
    }
    #titleR .box-content { /* Title Right*/
        transform: translateX(-100px);
    }
    #titleL .box-content { /* Title Left*/
        transform: translateX(100px);
    }
    #mobile-desc1 { /* Full Stack description */
        margin-top: -110px;
    }
    #mobile-desc2 { /* UI description */
        margin-top: -110px;
    }
    #mobile-desc3 { /* Education description */
        transform: translate(-2rem, -205px);
    }
    /* ---------- Projects Section ---------- */

    
}

/* ---------- For 2560 x 1440 reso ---------- */
@media screen and (min-width: 1000px) and (max-width: 1919px ) and (min-height: 600px ) {
    #about-me { /*Edward Montilla */
        width: 30%;
        z-index:20;
        text-align: left;
        margin-top: 50px;
        margin-left: 35px;
    }
    #page-container, #page-block { /* Adjust the page after wave height */
        margin-top: -10px;
        height: 400vh;
        width: 100%;
    }
    #page-container2, #page-block2 { /* height for the Titles/descriptions */
        margin-top: -200px;
        height: 350vh;
        width: 50% auto;
    }




}

/* ---------- For my Android phone ---------- */
/* ---------- 360 x 613 (665 for projects)---------- */
@media screen and (min-width: 360px) and (max-width: 388px) and (min-height:610px) and (max-height:760px) {
    nav {
        font-size: 0.8rem;
        transform: translateX(10%);
    }
    #blowfish {
        width: 35px;
        height: 35px;
        display: block;
        top: 17.5%;
        left: 58.3%;
    }
    #hello { /* Hello! */
        font-size: 1.3rem;
        margin-top: 10px;        
    }
    #about-me { /*Edward Montilla */
        font-size: 1.3rem;
        text-wrap: nowrap;
        width: 30%;
        z-index:20;
        text-align: center;
        margin-top: 50px;
    }
    #desc-me { /* Description about me */
        font-size: 0.7rem;
        width: 80%;
        z-index:20;
        margin: 0 0 112px 45px;
        transform: none;
        line-height: 1.7;
    }
    .plxcontainer, .plxlayer { /* Adjust the wave page height */
        background-size: contain;
        margin-top: 255px;
        height: 100vh;
    }
    .text-6xl { /* Hello! */
        margin-left: -110px;
        margin-top: 85px;
        font-size: 0.8rem;
        z-index: 50;
    }
    .text-4xl { /* Edward Montilla */
        font-size: 0.75rem;
        z-index: 50;
    }
    #page-container, #page-block { /* Adjust the page after wave height */
        margin-top: -200px;
        height: 450vh;
        width: 100%;
    }
    #page-container2, #page-block2 { /* height for the Titles/descriptions */
        margin-top: -200px;
        height: 350vh;
        width: 50% auto;
    }
    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        row-gap: 2rem;
        gap: 0rem; /* Adjust the gap between rows */
    }
    .rbox, .lbox, .rbox2, .lbox2 {
        flex-direction: column;
        width: 100%;
        float: none;
        min-width: 100%;
    }
    .box-content { /* Title Box */
        min-width: 60%;
        transform: none; /* Reset transform for smaller screens */
    }
    #titleR .box-content { /* Title Right*/
        margin-top: -250px;
        transform: none; /* Reset transform for smaller screens */
        text-align: center;
        font-size: small;
    }

    /* ---------- for mobile only ---------- */
    #ui-title {
        margin-top: -80px;
    }
    #edu-title {
        margin-top: 100px;
    }
    #titleL .box-content { /* Title Left*/
        margin-top: -50px;
        transform: none; /* Reset transform for smaller screens */
        text-align: center;
        font-size: small;
    }
    #mobile-desc1 { /* Full Stack description */
        font-size: 0.72rem;
        text-align: center;
        transform: translate(1%, -50%);
        white-space: wrap;
        line-height: 1.6;
    }
    #mobile-desc2 { /* UI description */
        font-size: 0.72rem;
        text-align: center;
        transform: translate(1%, 0%);
        white-space: wrap;
        line-height: 1.6;
    }
    #mobile-desc3 { /* Edu description */
        font-size: 0.72rem;
        text-align: center;
        transform: translate(1%, -120%);
        white-space: wrap;
        line-height: 1.6;
    }
    #ui-box {
        width: 100%;
        height: 5%;
        margin-top: 210px;
        z-index: 30;
    }
    #edu-box {
        width: 100%;
        height: 5%;
        margin-top: 295px;
        z-index: 30;
    }
    .icon-container {
        width: 11%;
        margin: 2px 2px;
    }
    .top-icon { /* full stack icon */
        transform: translate(2%, 45%);
        justify-content: center;     
    }
    .bottom-icon { /* full stack icon */
        transform: translateY(20%);
        align-items: end;
        justify-content: center;   
    }
    .middle-icon { /* ui icon */
        transform: translateY(22px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cust-icon { /* sait icon */
        transform: translateY(20px);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .cust-icon2 { /* vfs icon */
        position: relative;
        display: flex;
        transform: translateY(20%);
        right: 16.8%;
    }

    /* ----- Projects Section ----- */

    #proj-heading { /* Projects and other works */
        font-size: large;
        transform: translateY(180px);
    }
    #proj-box { /* controls the size of each whole project box */
        width: 100%;
        height: 8%;
        margin-top: 255px;
        z-index: 30;
    }
    #proj-box #back-box, #mg3, #ln3, #py3 { /* hide the other boxes, add more images*/
        display: none;
        backdrop-filter: none;
    }
    #proj-box #mg1, #ln1, #py1 { /* add more images after adding to the projects */
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    #rectangle2 { /* Miggy box in projects */
        width: 60%;
        height: 50%;
        transform: translate(15%, -28%);
    }
    #rectangle3 { /* Python box in projects */
        width: 60%;
        height: 50%;
        transform: translate(-15%, -140%);
    }
    #rectangle4 { /* Little Nightmares box in projects */
        width: 60%;
        height: 50%;
        transform: translate(15%, -255%);
    }
    #rectangle5 { /* 5th row boxes in projects */
        width: 60%;
        height: 50%;
        transform: translate(-15%, -368%);
    }
    /* fix rectangle6 and rectangle7 */
    #rectangle6 { /* 5th row boxes in projects */
        width: 60%;
        height: 50%;
        transform: translate(15%, -255%);
    }
    #rectangle7 { /* 5th row boxes in projects */
        width: 60%;
        height: 50%;
        transform: translate(-15%, -368%);
    }

    #mobile-desc4, #mobile-desc5, #mobile-desc6, #mobile-desc7, #mobile-desc8, #mobile-desc9 { /* hide desktop description */
        display: none;
    }
    #mobile-desc44, #mobile-desc55, #mobile-desc66, #mobile-desc77, #mobile-desc88, #mobile-desc99 { /* show mobile description */
        display: block;
    }
    /*------ For Mobile Only ------*/
    #mobile-desc44 { /* miggy description */
        font-size: 0.8rem;
        text-align: center;
        transform: translate(1%, -45px);
        white-space: wrap;
        line-height: 1.6;
    }
    #mobile-desc55 { /* python description */
        font-size: 0.8rem;
        text-align: center;
        transform: translate(1%, -240px);
        white-space: wrap;
        line-height: 1.6;
    }
    #mobile-desc66 { /* little nightmares description */
        font-size: 0.8rem;
        text-align: center;
        transform: translate(1%, -475px);
        white-space: wrap;
        line-height: 1.6;
    }
    #mobile-desc77 { /* 4th project description */
        font-size: 0.8rem;
        text-align: center;
        transform: translate(1%, -680px);
        white-space: wrap;
        line-height: 1.6;
    }
    /* fix desc8 and desc9 */
    #mobile-desc66 { /* 6th row description */
        font-size: 0.8rem;
        text-align: center;
        transform: translate(1%, -675px);
        white-space: wrap;
        line-height: 1.6;
    }
    #mobile-desc77 { /* 6th row description */
        font-size: 0.8rem;
        text-align: center;
        transform: translate(1%, -880px);
        white-space: wrap;
        line-height: 1.6;
    }


}




/* TO DO May 21, 2024 ----------------------------------
    -- finished samsung s8 mobile version --
    -- finished 1440px responsive --

    --  --
    -- add/fix Links --
*/

/* 
    WHEN ADDING NEW CONTENT (projects) make sure to 
    add new rectangle, mobile-desc (1, 11) and adjust:

        /# add #img1, #img2, #img3 at the very top

        /* #proj-box #back-box, #mg3, #ln3, #py3 { /* hide the other boxes, add more images*/

        /* #proj-box #mg1, #ln1, #py1 { /* add more images after adding to the projects */

/*-------------------------------------------------------*/



